body {
  /* This style below will be inherited */
  font-family: Roboto, Arial;
  margin: 0;
  padding-top: 75px;
  padding-left: 95px;
  padding-right: 25px;
  background-color: rgb(249, 249, 249);
}

@media (min-width: 1200.1px) {
  body {
    margin-left: 130px;
  }
}

p {
  margin: 0;
}