.header {
  height: 55px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: white;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(222, 222, 222);
  z-index: 100;
}

.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

.youtube-logo {
  width: 100px;
}

.middle-section {
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 70px;
  margin-right: 50px;
  max-width: 475px;
}

.search-bar {
  flex: 1;
  height: 35px;
  width: 0px;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}
.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
  color: gray;
}

.search-button {
  height: 40px;
  width: 70px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  background-color: rgb(248, 248, 248);
  cursor: pointer;
  margin-left: -1px;
  margin-right: 10px;
}

.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-apps-icon-container,
.notifications-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notifications-icon-container .tooltip {
  background-color: rgb(96, 96, 96, 0.9);
  color: white;
  border-radius: 2px;
  padding: 8px 9px;
  font-size: 12px;
  position: absolute;
  bottom: -45px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip {
  opacity: 1;
}

.upload-icon-container,
.youtube-apps-icon-container,
.notifications-icon-container,
.my-channel-icon {
  cursor: pointer;
}

.search-icon {
  width: 25px;
  margin-top: 4px;
}

.voice-search-button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  background-color: rgb(248, 248, 248);
  cursor: pointer;
}

.voice-search-icon {
  height: 25px;
  margin-top: 2px;
}

.right-section {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
  width: 185px;
  margin-right: 25px;
}

.upload-icon,
.youtube-apps-icon,
.notifications-icon {
  height: 24px;
}

.my-channel-icon {
  height: 33px;
}

.my-channel-icon {
  border-radius: 50%;
}

.notifications-count {
  position: absolute;
  background-color: rgb(204, 0, 0);
  color: white;
  font-size: 10px;
  padding: 1px 5px;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -2px;
  right: -7px;
}