.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 40px;
}

@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-title {
    font-size: 16px;
    line-height: 24px;
  }
  .video-author,
  .video-stats {
    font-size: 14px;
  }
}

.video-preview {
  display: inline-block;
  cursor: pointer;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.thumbnail {
  width: 100%;
  object-fit: cover;
  object-position: center;
  /* border-radius: 15px; */
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture {
  width: 36px;
  border-radius: 50%;
}

.profile-picture-container {
  position: relative;
  display: inline-block;
}

.channel-tooltip {
  position: absolute;
  bottom: -70px;
  display: flex;
  align-items: center;
  background-color: white;
  z-index: 300;
  padding: 10px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 200px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
}

.profile-picture-container:hover .channel-tooltip {
  opacity: 1;
}

.channel-tooltip-picture {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
}

.channel-tooltip-info {
  display: flex;
  flex-direction: column;
  line-height: 20px;
}

.channel-tooltip-name {
  font-size: 14px;
  font-weight: bold;
}

.channel-tooltip-stats {
  font-size: 12px;
  color: gray;
}

.video-title {
  font-size: 13.5px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 8px;
}

.video-title-link {
  text-decoration: none;
  color: black;
}

.video-author {
  color: rgb(96, 96, 96);
  font-size: 12px;
  margin-bottom: 5px;
}

.video-stats {
  color: rgb(96, 96, 96);
  font-size: 12px;
}

.video-time {
  font-size: 12px;
  font-weight: 500;
  padding: 5px;
  border-radius: 2px;
  background-color: black;
  color: white;
  position: absolute;
  right: 5px;
  bottom: 10px;
}