.header-section {
  position: fixed;
  top: 7px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid rgb(54, 54, 54);
  background-color: black;
  padding: 4px 0px 10px 4px;
  display: none;
}

.header-instagram-logo {
  height: 38px;
}

.right-header {
  display: flex;
  align-items: center;
}

.search-bar-container {
  display: flex;
  align-items: center;
  height: 36px;
  width: 255px;
  border: none;
  border-radius: 8px;
  background-color: rgb(54, 54, 54);
  padding-left: 10px;
  margin-right: 15px;
}

.header-search-icon {
  height: 30px;
}

.search-bar {
  background-color: rgb(54, 54, 54);
  border: none;
}

.search-bar::placeholder {
  font-size: 16px;
  color: rgb(162, 162,  162);
}

.header-notification-icon {
  height: 35px;
}


@media (max-width: 767px) {
  .flexbox {
    margin-top: 90px !important;
  }
  .header-section {
    display: flex;
  }
}