.flexbox {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-left: 240px;
}

.left-section {
  height: 1000vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story-section {
  display: flex;
  gap: 20px;
}

.story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.story-pfp {
  width: 55px;
  border-radius: 50%;
  outline: 2px solid red;
}

.story-name {
  margin: 0;    /*Dosen't matter until you speciify margin*/      
  margin-top: 10px;
  font-size: 12px;
}

.feed-section {
  height: 1000vh;
  margin-top: 24px;
  width: 450px;
}

.feed {
  width: 475px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(47, 47, 47);
}

.post-username,
.audio,
.ellipsis,
.feed-video,
.feed-pfp,
.feed-img,
.like-icon,
.save-icon,
.post-likes,
.post-caption,
.post-comments,
.comment-icon {
  cursor: pointer;
}

.feed-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.feed-pfp {
  height: 40px;
  margin-right: 10px;
}

.feed-img {
  width: 100%;
}

.post-title p {
  margin: 0;
  line-height: 18px;
}

.post-username {
  font-size: 14px;
  font-weight: bold;
}

.post-username span {
  font-size: 14px;
  color: rgb(163, 163, 163);
}

.audio {
  font-size: 13px;
}

.ellipsis {
  font-size: 22px;
}

.feed-video {
  width: 475px;
  height: 600px;
  border-radius: 2px;
  border: 1px solid rgb(47, 47, 47);
}

.feed-stats {
  display: flex;
  flex-direction: column;
}

.feed-stats p {
  margin: 0;
  margin-bottom: 10px;
}

.feed-icons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.feed-icons img {
  height: 35px;
}

.like-icon {
  margin-left: -8px;
}

.save-icon {
  margin-right: -10px;
}

.post-likes {
  font-size: 14px;
  font-weight: 500;
}

.post-caption {
  font-size: 14px;
}

.post-comments,
.post-add-comment::placeholder {
  font-size: 14px;
  color: rgb(163, 163, 163);
}

.post-add-comment {
  width: 100%;
  background-color: black;
  border: none;
  outline: none;
  color: white;
}

.add-comment-container {
  display: flex;
  align-items: center;
}

.comment-icon {
  height: 22px;
}

.right-section {
  width: 300px;
  margin-left: 10px;
}

.right-section .id-container {
  margin-bottom: 10px;
}

.id-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.start {
  display: flex;
  align-items: center;
}

.id-container p {
  margin: 0;
}

.pfp {
  width: 45px;
  margin-right: 10px;
  cursor: pointer;
}

.credentials p {
  margin: 0;
  margin-right: 10px;
}

.username {
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.mutuals {
  font-size: 12px;
  color: rgb(165, 165, 165);
}

.name {
  font-size: 13px;
  color: rgb(167, 167, 167);
}

.side-button {
  font-weight: 500;
  background-color: black;
  color: rgb(65, 147, 239);
  border: none;
  cursor: pointer;
}

.side-button:hover {
  color: white;
}

.suggest-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.suggest-container p {
  font-size: 14px;
  font-weight: bold;
  color: rgb(163, 163, 163);
}

.see-button {
  border: none;
  background-color: black;
  color: white;
  font-size: 12px;
  cursor: pointer;
}

.see-button:hover {
  color: rgb(123 ,123, 123);
}

.footer {
  margin-top: 40px;
}

.footer p {
  font-size: 12px;
  color: rgb(115, 115, 115);
  line-height: 10px;
  cursor: pointer;
}

.foot-text {
  margin-top: 30px;
  cursor: text !important;
}