.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(15, 15, 15);
  height: 55px;
  padding: 0px 10px 0px 20px;
  margin-right: 30px;
}

.more-icon,
.yt-logo,
.header-search-icon,
.voice-icon,
.create-icon,
.notification-icon,
.my-pfp {
  cursor: pointer;
}

.left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.more-icon {
  height: 28px;
  border-radius: 50%;
  padding: 5px 5px 7px 7px;
}

.more-icon:hover {
  background-color: rgb(39, 39, 39);
}

.yt-logo {
  height: 47px;
}

.center {
  display: flex;
  align-items: center;
}

.search-input {
  width: 550px;
  height: 33px;
  border: 1px solid rgb(51, 52, 53);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(18, 18, 18);
  padding-top: 5px;
  padding-left: 15px;
  margin-left: 120px;
}

.search-input::placeholder {
  font-size: 16px;
  color: rgb(117, 117, 117);
}

.header-search-icon {
  height: 39px;
  margin-left: -1px;
  margin-right: 15px;
  border: 1px solid rgb(51, 52, 53);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: rgb(34, 34, 34);
}

.voice-icon {
  height: 22px;
  border-radius: 50%;
  padding: 9px 10px 8px 11px;
  background-color: rgb(39, 39, 39);
}

.voice-icon:hover {
  background-color: rgb(61, 61, 61);
}

.right {
  display: flex;
  align-items: center;
  gap: 17px;
}

.create-button {
  height: 33px;
  gap: 2px;
  display: flex;
  align-items: center;
  background-color: rgb(39, 39, 39);
  border: none;
  border-radius: 60px;
  overflow: hidden;
}

.create-button:hover {
  background-color: rgb(63, 63, 63);
}

.create-icon {
  height: 28px;
}

.create-button p {
  font-weight: bold;
  color: white;
}

.notification-icon {
  height: 28px;
  margin-right: 4px;
  border-radius: 50%;
  padding: 6px 4px 6px 5px;
}

.notification-icon:hover {
  background-color: rgb(39, 39, 39);
}

.my-pfp {
  height: 40px !important;
}