.yt-video-container {
  margin-top: 55px;
  height: 790px;
}

.yt-video {
  height: 100%;
  width: 100%;
}

.main-container {
  display: flex;
  width: 100%;
}

.left-side {
  display: flex;
  flex-direction: column;
  width: 1205px;
}

.video-title {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 16px;
}

.channel-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.channel-stats button:hover {
  background-color: rgb(63, 63, 63);
}

.channel-pfp {
  height: 50px;
}

.channel-name-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-right: 20px;
}

.channel-name {
  font-size: 16px;
  font-weight: 500;
}

.channel-subs {
  font-size: 12px;
  color: rgb(166, 166, 166);
}

.subscribe-button {
  height: 38px;
  width: 150px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  border: none;
  border-radius: 40px;
  background-color: rgb(40, 40, 40);
  cursor: pointer;
}

.subscribe-button p {
  font-weight: 500;
}

.bell-icon {
  height: 26px;
}

.arrow-icon {
  height: 28px;
}

.right {
  display: flex;
  align-items: center;
}

.right button {
  font-weight: bold;
  height: 35px;
  gap: 5px;
  color: white;
  display: flex;
  align-items: center;
  border: none;
  background-color: rgb(39, 39, 39);
  padding: 10px 18px 10px 10px;
  cursor: pointer;
}

.share-button,
.download-button,
.clip-button,
.ellipsis-button {
  border-radius: 20px;
}

.right img {
  height: 25px;
}

.like-button {
  width: 80px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.like-button:hover {
  .separator {
    border-color: rgb(105, 105, 105);
  }
}

.separator {
  border-right: 1px solid rgb(61, 61, 61);
  height: 24px;
  margin: 7px;
}

.dislike-button {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-left: -17px;
}

.ellipsis-button {
  padding: 0px 9px 5px 9px !important;
}

.video-description-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  border: none;
  border-radius: 15px;
  background-color: rgb(39, 39, 39);
  margin-left: 18px;
  margin-bottom: 22px;
  padding: 10px 0px 14px 13px;
  cursor: pointer;
}

.video-description-container strong {
  font-size: 14px;
}

.video-description-container p {
  font-size: 14px;
}

.total-comments {
  display: flex;
  align-items: end;
  gap: 20px;
  margin-left: 18px;
  margin-bottom: 22px;
}

.total-comments p {
  font-weight: bold;
  font-size: 18px;
}

.sort-button {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  border: none;
  color: white;
  background-color: rgb(15, 15, 15);
}

.sort-icon {
  height: 24px;
}

.add-comment {
  display: flex;
  align-items: start;
  margin-left: 14px;
  gap: 9px;
  width: 97%;
  margin-bottom: 28px;
}

.add-comment img {
  height: 50px;
}

.add-hr-container {
  width: 100%;
}

.add-comment p {
  font-size: 14px;
  color: rgb(170, 170, 170);
  margin-top: 10px;
}

.add-comment hr {
  width: 100%;
  border: 1px solid rgb(39, 39, 39);
}

.comment-container {
  display: flex;
  margin-bottom: 20px;
  margin-left: 12px;
}

.comment-pfp {
  height: 45px;
  margin-right: 10px;
}

.comment-name-container {
  display: flex;
  align-items: center;
}

.comment-name-container p {
  font-size: 14px;
  margin-bottom: 5px;
}

.comment-name-container span {
  font-size: 12px;
  color: rgb(170, 170, 170);
}

.exact-comment {
  font-size: 14px;
  margin-bottom: 10px;
}

.comment-stats-container {
  display: flex;
  align-items: center;
}

.total-likes {
  font-size: 12px;
  color: rgb(170, 170, 170);
  margin-right: 14px;
  margin-bottom: 4px;
}

.like-comment-button,
.dislike-comment-button {
  border: none;
  border-radius: 50%;
  background-color: black;
  margin-left: -8px;
}

.like-comment-icon,
.dislike-comment-icon {
  height: 22px;
  width: 22px;
}

.dislike-comment-button {
  margin-right: 10px;
}

.reply-button {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: white;
  background-color: black;
  border: none;
}

.vertical-ellipsis {
  font-size: 22px;
  line-height: 40px;
  margin-left: auto;
  margin-right: 16px;
}

.right-side {
  flex: 1;
  flex-direction: column;
  margin-top: 35px;
  margin-left: 20px;
}

.header-right-side {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  flex-shrink: 0;
}

.all-button {
  height: 35px;
  width: 40px;
  border: none;
  border-radius: 10px;
  background-color: rgb(241, 241, 241);
  cursor: pointer;
}

.button {
  height: 35px;
  color: white;
  border: none;
  border-radius: 10px;
  background-color: rgb(40, 40, 40);
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.25s;
}

.button:hover {
  background-color: rgb(63, 63, 63);
}

.right-arrow-button {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 50%;
  background-color: rgb(15, 15, 15);
  cursor: pointer;
}

.right-arrow-button:hover {
  background-color: rgb(63, 63, 63);
}

.right-arrow-icon {
  height: 25px;
}

.video {
  display: flex;
  justify-content: start;
  margin-bottom: 5px;
  cursor: pointer;
}

.thumbnail {
  height: 90px;
  border-radius: 10px;
  margin-right: 8px;
}

.feed {
  display: flex;
  flex-direction: column;
}

.feed a {
  text-decoration: none;
  color: white;
}

.feed-title {
  width: 200px;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 10px;
}

.feed-name {
  display: inline-block;
  margin-bottom: 5px;
}

.feed-name,
.feed-stats {
  font-size: 12px;
  color: rgb(170, 170, 170);
}

#feed-ellipsis {
  line-height: 22px;
}